<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }} ">
    {% block style %}{% endblock %}
    <title>Flask tutorial</title>
</head>

<body>
    <header>
        <div id="header">
            <div id="left">
                <nav>
                    <li><a href="{{ url_for('index') }}">Домашняя</a></li>
                    <li><a href="{{ url_for('user.users') }}">Имя</a></li>
                    <li><a href="{{ url_for('post.index') }}">Статьи</a></li>
                    <li><a href="{{ url_for('post.add_post') }}">Добавить статью</a></li>
                </nav>
            </div>
            <div id="center"></div>
            <div id="right" style="display: flex; justify-content: end;">
                <nav>
                    {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('user.dashboard') }}">Личный кабинет</a></li>
                    <li><a href="{{ url_for('user.logout') }}">Выйти</a></li>
                    <li style="line-height: 3em; color: white;">{{ current_user.username }}</li>
                    {% else %}
                    <li><a href="{{ url_for('user.register') }}">Зарегистрироваться</a></li>
                    <li><a href="{{ url_for('user.login') }}">Войти</a></li>
                    {% endif %}
                </nav>
                <div style="display: flex;align-items: center;justify-content: center;padding-right: 1em;">
                    <form method="post" action="{{ url_for('differents.search') }}">
                        {{ form.csrf_token }}
                        <input style="outline:none;padding-left: 0.3em;" type="text" name="searched"
                            placeholder="Поиск">
                        <input class="btn-nav" type="submit" value="ПОИСК">
                    </form>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="wrapper">
            {% block content %} {% endblock %}
        </div>
    </main>
    <footer></footer>
    {% block codejs %}{% endblock %}
</body>

</html>