{% extends 'layouts/base.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/user.css') }}">
{% endblock %}

{% block content %}
{% for message in get_flashed_messages() %}
<div class="flashed" id="mes">
    <div style="padding: 0 1em; line-height: 1.5em;">{{ message }}</div>
    <div style="padding: 0 1em; height: 100%;"><button class="bt" onclick="hid()"
            style="border: none; background: #d8d8ca; font-size: 1.4em;">X</button></div>
</div>
{% endfor %}
{% if name %}
<center>
    <h2>Привет, {{ name }}!</h2>
</center>
<br><br>
<div style="width: 50%; margin: 0 auto; background: #c4c483ab;">
    <img src="{{ url_for('static', filename='img/picture.jpg') }}" style="width: 100%;height: 100%; opacity: 0.6;">
</div>
{% else %}
<form method="post">
    {{ form.hidden_tag() }}
    <div class="fl">
        <div style="width: 30%;">{{ form.name.label(class="fm-lb") }}</div>
        <div style="width: 70%;">{{ form.name(class="fm fm-inp") }}</div>
    </div>
    <div class="fl">
        <div style="width: 30%;">{{ form.email.label(class="fm-lb") }}</div>
        <div style="width: 70%;">{{ form.email(class="fm fm-inp") }}</div>
    </div>
    <div class="fl">
        <div style="width: 30%;">{{ form.color.label(class="fm-lb") }}</div>
        <div style="width: 70%;">{{ form.color(class="fm fm-inp") }}</div>
    </div>
    <div class="fl">
        <div style="width: 30%;">{{ form.password.label(class="fm-lb") }}</div>
        <div style="width: 70%;">{{ form.password(class="fm fm-inp") }}</div>
    </div>
    <div class="fl">
        <div style="width: 30%;">{{ form.password2.label(class="fm-lb") }}</div>
        <div style="width: 70%;">{{ form.password2(class="fm fm-inp") }}</div>
    </div>
    <div class="fl">
        {{ form.submit(class="btn btn-pr") }}
    </div>
</form>

<div style="margin-top: 3em;">
    {% for user in our_users %}
    <p style="margin: 1em;">{{ user.id }}.<a href="{{ url_for('user.update', id=user.id) }}">{{user.name}}</a> - {{
        user.email }} - {{ user.color }} - {{ user.password }} -<a href="{{ url_for('user.delete', id=user.id) }}">
            Удалить </a>
    </p>
    {% endfor %}
</div>
{% endif %}
{% endblock %}


{% block codejs %}
<script src="{{ url_for('static', filename='js/user.js') }}"></script>
{% endblock %}