{% extends 'layouts/base.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/user.css') }}">
{% endblock %}

{% block content %}
{% for message in get_flashed_messages() %}
<div class="flashed" id="mes">
    <div style="padding: 0 1em; line-height: 1.5em;">{{ message }}</div>
    <div style="padding: 0 1em; height: 100%;"><button class="bt" onclick="hid()"
            style="border: none; background: #d8d8ca; font-size: 1.4em;">X</button></div>
</div>
{% endfor %}
<form method="post">
    {{ form.csrf_token }}
    <div class="fl">
        <div style="width: 30%;">{{ form.username.label(class="fm-lb") }}</div>
        <div style="width: 70%;">{{ form.username(class="fm fm-inp") }}</div>
    </div>
    <div class="fl">
        <div style="width: 30%;">{{ form.password.label(class="fm-lb") }}</div>
        <div style="width: 70%;">{{ form.password(class="fm fm-inp") }}</div>
    </div>
    <div class="fl">
        {{ form.submit(class="btn btn-pr") }}
    </div>
</form>
{% endblock %}


{% block codejs %}
<script src="{{ url_for('static', filename='js/user.js') }}"></script>
{% endblock %}