{% extends 'layouts/base.html' %}


{% block content %}
{% for message in get_flashed_messages() %}
<div class="flashed" id="mes">
    <div style="padding: 0 1em; line-height: 1.5em;">{{ message }}</div>
    <div style="padding: 0 1em; height: 100%;"><button class="bt" onclick="hid()"
            style="border: none; background: #d8d8ca; font-size: 1.4em;">X</button></div>
</div>
{% endfor %}
{% if name %}
<center>
    <h2>Привет, {{ name }}!</h2>
</center>
<br><br>
<div style="width: 50%; margin: 0 auto; background: #c4c483ab;">
    <img src="{{ url_for('static', filename='img/picture.jpg') }}" style="width: 100%;height: 100%; opacity: 0.6;">
</div>
{% else %}
<form method="post">
    {{ form.csrf_token }}
    <div class="fl">
        <div style="width: 30%;">{{ form.name.label(class="fm-lb") }}</div>
        <div style="width: 70%;">{{ form.name(class="fm fm-inp") }}</div>
    </div>
    <div class="fl">
        {{ form.submit(class="btn btn-pr") }}
    </div>
</form>
{% endif %}
{% endblock %}