@font-face {
    font-family: 'Mer';
    src: url('../font/Merriweather-Light.ttf');
    size-adjust: 90%;
}
@font-face {
    font-family: 'MerIt';
    src: url('../font/Merriweather-LightItalic.ttf');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Mer';
}

header {
    width: 100%;
    height: 3em;
    background: #232333;
}

#header {
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
}

nav a {
    text-decoration: none;
    color: whitesmoke;
    line-height: 3em;
}

nav li {
    list-style-type: none;
    margin: 0 1em;
}

.wrapper {
    width: 80%;
    margin: 5em auto;
}

.btn-nav {
    background: #232333;
    color: #ffffff;
    border: 1px solid #d7d7d7;
    padding: 0.3em;
}