{% extends 'layouts/base.html' %}


{% block content %}

{% for message in get_flashed_messages() %}
<div class="flashed" id="mes">
    <div style="padding: 0 1em; line-height: 1.5em;">{{ message }}</div>
    <div style="padding: 0 1em; height: 100%;"><button class="bt" onclick="hid()"
            style="border: none; background: #d8d8ca; font-size: 1.4em;">X</button></div>
</div>
{% endfor %}

{% if current_user.is_authenticated %}
<form method="post">
    {{ form.csrf_token }}
    <div class="fl">
        <div style="width: 30%;">{{ form.title.label(class="fm-lb") }}</div>
        <div style="width: 70%;">{{ form.title(class="fm fm-inp") }}</div>
    </div>
    <div class="fl">
        <div style="width: 30%;">{{ form.slug.label(class="fm-lb") }}</div>
        <div style="width: 70%;">{{ form.slug(class="fm fm-inp") }}</div>
    </div>
    <div class="fl">
        <div style="width: 30%;">{{ form.content.label(class="fm-lb") }}</div>
        <div style="width: 70%;">{{ form.content(class="fm fm-tx", rows="25") }}</div>
    </div>
    <div class="fl">
        {{ form.submit(class="btn btn-pr") }}
    </div>
</form>
{{ ckeditor.load() }}
{{ ckeditor.config(name='content') }}
{% else %}
<h3>Что бы иметь возможность создавать статьи вы должны быть зарегестрированным пользователем.</h3>
{% endif %}

{% endblock %}