{% extends 'layouts/base.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/user.css') }}">
{% endblock %}

{% block content %}
{% for message in get_flashed_messages() %}
<div class="flashed" id="mes">
    <div style="padding: 0 1em; line-height: 1.5em;">{{ message }}</div>
    <div style="padding: 0 1em; height: 100%;"><button class="bt" onclick="hid()"
            style="border: none; background: #d8d8ca; font-size: 1.4em;">X</button></div>
</div>
{% endfor %}

<div class="wrapper">

    <div style="display: flex; flex-wrap: wrap;">
        {% if posts %}
        {% for post in posts%}
        <div
            style="width: 45%; height: 13em; margin: 1.5em 1.9em; display: flex; flex-direction: column; box-shadow: 7px 5px 9px #d7d7d7, -4px 1px 9px #d7d7d7;">
            <div class="title-a" style="height: 25%;">
                <a style="text-decoration: none; line-height: 2em; margin-left: 1em;"
                    href="{{ url_for('post.posts', id=post.id) }}">{{ post.title }}</a>
            </div>
            <div style="height: 60%; width: 100%; padding: 0 1em;">
                <p style="margin: 0.9em;">{{ post.content[:60] | safe }}...</p>
                <p style="margin: 0.9em;">{{ post.autor }}</p>
                <p style="margin: 0.9em;">{{ post.date_posted }}</p>
            </div>
            <div style="display: flex;">
                <div style="height: 15%; padding: 1em; margin: 0 1em;">
                    <button class="btn-a" style=" font-size: 0.9em;"
                        onclick="document.location=`{{ url_for('post.posts', id=post.id) }}`">Перейти...</button>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}

        <div style="display: flex; flex-direction: column; width: 80%; margin: 1em auto;">
            <div style="display: flex; flex-direction: column; box-shadow: 7px 5px 9px #d7d7d7, -4px 1px 9px #d7d7d7;">
                <div>
                    <p style="line-height: 2em; margin-left: 1em;" href="#">{{ post.title }}</p>
                </div>
                <div style="width: 100%; padding: 0 1em;">
                    <p style="margin: 0.9em; white-space: pre-wrap;">{{ post.content | safe }}</p>
                    <p style="margin: 0.9em;">{{ post.poster }}</p>
                    <p style="margin: 0.9em;">{{ post.date_posted }}</p>
                </div>
            </div>
            <div style="display: flex;">
                <div style="padding: 1em; margin: 0 1em;">
                    <button class="btn-a" style=" font-size: 0.9em;"
                        onclick="document.location=`{{ url_for('post.index') }}`">Назад</button>
                </div>
                {% if current_user.id == post.poster.id %}
                <div style="padding: 1em; margin: 0 1em;">
                    <button class="btn-a" style=" font-size: 0.9em;"
                        onclick="document.location=`{{ url_for('post.edit_post', id=post.id) }}`">Изменить</button>
                </div>
                <div style="padding: 1em; margin: 0 1em;">
                    <button class="btn-a btn-a-red"
                        onclick="document.location=`{{ url_for('post.delete_post', id=post.id) }}`">Удалить</button>
                </div>
                {% endif %}
            </div>
        </div>
        {% endif %}
    </div>
</div>

<style>
    .title-a {
        color: black;
        background: white;
    }

    .title-a a {
        color: black;
        background: white;
    }

    .title-a:hover {
        color: white;
        background: #232333;
    }

    .title-a:hover a {
        color: white;
        background: #232333;
    }
</style>
{% endblock %}



{% block codejs %}
<script src="{{ url_for('static', filename='js/user.js') }}"></script>
{% endblock %}